<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link type="text/css" rel="stylesheet" src="input.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
        body{
            background-image: url("https://pbs.twimg.com/media/EgLiJS2UwAAOsZe.jpg:large");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            display: felx;
            align-items: center;
            justify-content: center;
        }
    </style>
    <title>JEE-NEET Online Library</title>
</head>
<body>
    <div class="container text-center my-5 border border-success border-5 text-white" style="height: 30rem">
        <h1 class="my-2">Welome to JEE-NEET online Library API</h1>
        <p class="fs-1 m-5">This is online JEE NEET library API here get the data of best books for preparing for JEE and NEET </p>
        <div class="container">
            <div class="d-grid gap-3 col-6 mx-auto">
                <a href="/api/jee" class="btn btn-danger">JEE</a>
                <a href="/api/neet" class="btn btn-danger">NEET</a>
            </div>
        </div>
    </div>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</html>